.footer {
  background-color: #222;
  color: #4c4848;
  padding: 20px;
  height: 200px;
  flex-shrink: 0;
}

.footer a {
  color: #090808;
  text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
  color: #bbb;
}

/* Style for social media buttons */
.footer .btn-floating {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px; /* Center icon vertically */
  margin: 5px; /* Add margin between buttons */
}